[submodule "Genesis/vendor/spdlog"]
	path = Genesis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Genesis/vendor/glfw"]
	path = Genesis/vendor/glfw
	url = https://github.com/glfw/glfw
