[submodule "Genesis/vendor/spdlog"]
	path = Genesis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Genesis/vendor/GLFW"]
	path = Genesis/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Genesis/vendor/imgui"]
	path = Genesis/vendor/imgui
	url = https://github.com/ocornut/imgui
